/*Navigation Bar*/
.nv{
    text-decoration: none;
    padding: 1%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    justify-content: space-evenly;
}
.nv a{
    text-decoration: none;
    font-family: Copperplate Gothic;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}


.nv a:hover{
    background-color: aliceblue;
    color: black;
}


.order-info {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.mn{
    background-color: rgba(15, 15, 15, 0.925);
    color: white;
    margin: 0%;

    
}
.search{
    background-image: url('/images/coffee2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.srch{
    border: 2px solid white;
    text-align: center;
    padding: 2%;
    font-size: 13px;
    margin: 10% 35%;
    font-family: Copperplate Gothic;
    border-radius: 10px;
    color: rgb(218, 221, 17);
}

.lbl{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    color: white;
    padding: 1%;
    flex-direction: column;
}

.ipt{
    opacity: 0.5;
    padding: 1%;
    font-size: 15px;
    margin: 2%;
    border: 1px solid black;
    color: black;
}

.btn1{
    margin-bottom: 1%;
    background-color: rgba(196, 156, 13, 0.55);
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.lst{
    background-image: url('/images/coffee3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.lst1{
    border: 1px solid white;
    margin-right: 50%;
    padding: 1%;
    margin-top: 1%;
    font-family: Copperplate Gothic;
    font-size: 16px;
}
.row {
    
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-top: 1%;
    justify-content: space-around;
    width: 100%;
}

/* column css*/
.col {
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Rockwell Nova;
    border: 1px solid white;
    font-size: 16px;

}
#bb{
    border: 1px solid white;
    margin: 5% 0; 
}
h1{
    text-align: center;
}

.ord{
    height: 300px;
    width: 300px;
    border-radius: 5%;
}
.btn{
    margin-bottom: 1%;
    background-color: lightslategray;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.btn:hover{
    background-color: lightsalmon;
}