<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="search">
   <nav class="nv">
      <a href="/">Home</a>
      <a href="#">Contact Us</a>
      <a href="/search">Search Order</a>
  </nav>
   <div class="srch">
      <h1>Search for a Customer</h1>
      <form method="POST" action="/find">
         <label class="lbl">Enter Customer name:</label>
         <input type="text" placeholder="Enter customer name" name="custName" class="ipt" /><br>
         <button class="btn1">Search</button>
      </form>
   </div>
</body>

</html>